* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow-x: hidden;
    background-color: #333;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: ease 1s;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: ease 1s;
  }
  
  .topnav a.active {
    background-color: darkslategray;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .banner {
    background-image: url(./images/clark-banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 6em;
  }

  #phone {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -0.2em auto;
  }

  .phone-icon {
    height: 1.5em;
    width: auto;
    margin: 0 .5em;
  }

/* ------About Section----- */

#about-title {
    text-align: center;
    background: linear-gradient(to right, lightgrey, darkslategray);
    padding: 5em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: whitesmoke;
    padding: 0 10em;
}

#about-container img {
    height: 30em;
    width: auto;
    margin-bottom: 1em;
    box-shadow: 0 3px 10px rgba(246, 243, 243, 0.531);
}

.photo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em;
}

.description {
    margin: 4em;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5em;
}


/* -----Services----- */

#services-title {
    text-align: center;
    background: linear-gradient(to right, lightgrey, darkslategray);
    padding: 5em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#services-container {
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 8em;
}

#services-container img {
    height: auto;
    max-width: 25em;
    width: auto;
    margin: 6em;
    box-shadow: 0 3px 10px rgba(246, 243, 243, 0.531);
}

.patios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.patio-text {
    margin: 0 4em;
    line-height: 2em;
    color: whitesmoke;
    font-size: 1.1em;
}

.patio-text li {
    margin: 0 4em;
}

.walkways {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.walkway-text {
    margin: 0 4em;
    line-height: 2em;
    color: whitesmoke;
    font-size: 1.1em;
}

.walkway-text li {
    margin: 0 4em;
}

.basements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.basement-text {
    margin: 0 4em;
    line-height: 2em;
    color: whitesmoke;
    font-size: 1.1em;
}

.finishes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.finish-text {
    margin: 0 4em;
    line-height: 2em;
    color: whitesmoke;
    font-size: 1.1em;
}

.finish-text li {
    margin: 0 4em;
}


/* -----Gallery----- */

.gallery-banner {
  background-image: url(./images/gallery-banner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.gallery-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: rgba(187, 187, 187, 0.669);
  margin: 0 10em;
  position: relative;
  top: 12em;
  box-shadow: 0 3px 10px rgba(246, 243, 243, 0.531);
}

.gallery-title h1 {
  padding: .5em;
  background: linear-gradient(to right, lightgrey, darkslategray);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.gallery-title p {
  padding: 2em;
  margin-left: 9em;
  line-height: 1.5em;
  text-align: right;
  font-size: 1.1em;
  background: linear-gradient(to right, lightgrey, darkslategray, 0.6);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#about-title-2 {
  text-align: center;
  background: linear-gradient(to right, lightgrey, darkslategray);
  padding: 5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


.reasons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.reason-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #71717196;
  padding: 1.5em;
  margin: 1em;
}

.reason-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #71717196;
  padding: 1.5em;
  margin: 1.5em;
}

.reason-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #71717196;
  padding: 1.5em;
  margin: 1em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 3em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 3em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* CONTACT */

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: .5em;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 11em 8em;
  }
  
  /* Create two columns that float next to each other */
  .column {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
  }

  .column img {
    margin-top: -6em;
    padding: 5em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
    input[type=submit] {
      padding: .5em;
      margin-bottom: 2em;
    }
  
    .container {
      padding: 10em 2em;
    }
  
    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  /* THANK YOU PAGE */

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10em;
  color: black;
  background-color: white;
  font-size: 1.5em;
  padding: 2em;
  border-radius: 1em;
}

.fa {
  padding: 20px;
  margin: .5em;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: ease .5s;
}

.fa:hover {
  opacity: 0.7;
  transition: ease .5s;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@media screen and (min-width: 375px) and (max-width: 720px) {
  .thank-you {
    position: relative;
    top: 12em;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    z-index: -1;
  }
}


/* -----Footer----- */

footer { 
  text-align: center; 
  padding: 2em;
}

.cp-text { 
  color: whitesmoke; 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

/* -----Media Queries----- */

@media screen and (max-width: 600px) {

  * {
    overflow-x: hidden;
  }

  .logo {
    height: 20em;
  }

    #about-container {
        flex-direction: column;
    }

    #about-container img {
      margin: 2em;
    } 

    .description {
        font-size: 1.2em;
        margin: 0 -6em 4em -6em;
    }

    .patios, .walkways, .basements, .finishes {
        flex-direction: column;
    }

    #services-container {
      margin: 1em -10em;
    }

    #services-container img {
      width: 75%;
    }

    #services-container li {
      margin: 0;
      list-style-position: inside;
    }

    .gallery-title {
      margin: 1em;
      text-align: center;
      margin-bottom: 5em;
      top: 2em;
    }

    .gallery-title p {
      margin: 0;
    }

    .reasons-container {
      display: flex;
      flex-direction: column;
    }

    #about-title-2 {
      margin: 1em -4em;
    }

}